<br><br>
<div class="container">
    <form [formGroup]="dadosAlunos">
        <div class="row">
            <mat-form-field class="example-full-width" color="primary" appearance="fill">
                <input matInput placeholder="Número de matrícula" type="tel" formControlName="nro_matricula">
            </mat-form-field>
        </div><br><br>

        <div class="row">
            <mat-form-field class="example-full-width" color="primary"  appearance="fill">
                <input matInput placeholder="Nome do aluno" type="text" formControlName="nome">
            </mat-form-field>
        </div><br><br>

        <div class="row">
            <mat-form-field color="primary"  appearance="fill">
                <mat-label>Disciplinas</mat-label>
                <mat-select multiple formControlName="disciplinas">
                  <mat-option *ngFor="let d of disciplinasS" [value]="d">
                    {{d.nome}} - {{d.creditos}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div><br><br>
    </form>

    <button mat-flat-button color="primary" (click)="saveAluno()">Salvar Aluno</button>
</div>